@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');
html{
    scroll-behavior:smooth ;
}
body{
    font-family: 'Advent Pro',sans-serif;
    padding: 0;
    margin:0;  
}
ul{
    padding: 0;
    margin:0;  
}
li{
    list-style-type: none;
    padding: 0;
    margin:0;  
}
h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a{
    text-decoration:beige;
    color:darkcyan;
}
/* ################################# NAVBAR ################################# */
nav{overflow: hidden;
    background-color: antiquewhite;
    position: fixed;
    width: 100%;opacity: 0.9;
}
header li{
    float: right;
    font-size: 1.2em;
}
header li a{
    text-decoration: dashed;
    display: block;
    text-align: center;
    padding: 18px 16px;
   
}
#logo{
    font-family: 'Dancing Script',cursive;
    font-weight: bold;
    float: left;

}
/* ################################# IMAGE PRINCIPALE ################################# */
#imagePrincipale{
    padding-top: 60px;
    background: url(support-projet-1-master/media/liema.jpg) no-repeat fixed 50%,50%;
    background-size:contain;
    height: 1099px;
}
h1{
    font-family:'Dancing Script','cursive';
    text-align: center;
    color: antiquewhite;
    font-size: 5em;
    margin-top: 100px;

}
#premierTrait{
    height: 1px;
    width: 50%;
    margin: -3px auto;
    background-color:lightblue;
}
h3{
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px burlywood;
}
/* ################################# PRESENTATION ################################# */
#presentation{
    background-color:antiquewhite;
    padding: 10px 0px 100px Opx;
}
#texteIntro{
    padding: 0px 10%;
}
#prestations{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;

}
.imagesPrestations h4{
    font-family: 'Dancing Script',cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}
.imagesPrestations img{
    border-radius: 40%;
    box-shadow: 5px 5px 3px 1px rgba(0, 0, 0 , 0.8);    
}
.imagesPrestations img:hover{
  opacity: 0.5;
  transform:scale(1.05);
  transition: 0.8s ease-in-out;
}
/* ################################# TOURISME ################################# */
#tourisme{
    height: 1400px;
    background-color:aliceblue;
    padding: 1px 2%;
}
#tourisme h2{
    padding-top: 60px;
}
#ocean{
    background: url(support-projet-1-master/media/ocean.jpg);
}
#chateau{
    background: url(support-projet-1-master/media/coran.jpg) ;
}
#phare{
    background: url(support-projet-1-master/media/phare.JPG);
}
#vignoble{
    background: url(support-projet-1-master/media/vignes.jpg);
}
#tourisme li {
    margin: 65px 100px 0 100px;
    height: 226px;
    width: 55%;
    max-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
}
#tourisme p{
    height: 45px;
    width: 235px;
    background-color: aquamarine;
    float: right;
    margin: 50px -180px 0 0;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px rgba(90,154,156,1);
}
#tourisme #chateau,#tourisme #vignoble{
    float: right;
}
#chateau p,#vignoble p{
    float: left;
    background-color: aquamarine;
    margin-left: -180px;
    box-shadow: -4px 4px 0 1px rgba(90,154,156,1);
}
/* ################################# footer ################################# */
footer{background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
    font-weight: 400;
    background-image:url(http://bit.ly/2gPLxZ4);
    -webkit-font-smoothing: antialiased; 
    padding: 20px 0 10px 0;
    text-align: center;   
}
footer form input[type='submit'] {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    border: 0;
    color: #fff;
    margin-top: 15px;
    text-align: center;
    padding: 6px 0;
    font-size: 1.5em;
    background-color: blanchedalmond;

}
footer form input[type='reset'] {
    background: radial-gradient(ellipse at bottom, #eb99ad 0%, #d1a682 100%);
    border: 0;
    color: #fff;
    margin-top: 15px;
    text-align: center;
    padding: 6px 0;
    font-size: 1.4em;
    background-color: blanchedalmond;

}
footer form{
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
    background-image:url(http://bit.ly/2gPLxZ4);
}
footer form label{
    color: antiquewhite;
    text-align:start;
    font-size: 1.2em;
    margin: 0 auto;
}
input,textarea{
    border: none;
    text-align:start;
    width: 55%;
    padding: 15px 10px;
    margin:1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro',sans-serif;
    border-radius: 8px;
}
textarea{
    height:auto;
}
.Erreur {
    color: red;
    margin: 10px 0;
    text-align: center;
}
.message {
    color: #fff;
    font-size: 25px;
}

._100 {
    width: 140%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
footer form input[type='submit']:hover{
    background-color: antiquewhite;
    float: left;
    color:rgb(209, 171, 88);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
footer form input[type='reset']:hover{
    background-color: antiquewhite;
    float:left;
    color:rgb(253, 4, 4);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#deuxiemeTrait{
    height: 1px;
    width: 75%;
    margin: 60px auto;
    background-color: darksalmon;
}
#copyrightEtIcons{
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyright{
    width: 50%;
    text-align: left;
    color: antiquewhite;
}
#icons{
    width: 50%;
    text-align: right;
}
#icons a{
    display: inline-block;
    margin: 0 15px;
    font-size: 1.3em;
}
#icons a:hover{
    transform: scale(1.5);
    transition: 0.1s;
}